html, body {
  margin: 0;
  padding: 0;
  background-image: url(images/brownpolka.jpg);
}
/* canvas {
  display: block;
} */

.container {
  text-align: center;
  color:black;
}

.container2 {
  text-align: center;
  color:black;
}

#music{
  position: absolute;
  top: 810px;
  left: 280px;
}

#button{
  position: absolute;
  top: -60px;
  left: 70px;
}

#cinna{
  position: absolute;
  top: 25px;
  left: 255px;
} 

#maca{
  position: absolute;
  top: -80px;
  left: 330px;
}

#domo{
  position: absolute;
  top: 25px;
  left: 540px;
} 

#roll{
  position: absolute;
  top: -30px;
  left: 650px;
}

.box09 {
  background: rgb(228, 188, 200);
  border: 1px, dotted #000000;
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 200px;
  width: 500px
}

.box-inner {
  background-image: url(images/border01.png), url(images/border01.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  margin: -10px;
  padding: 30px;
}

#centerdiv{
  /* background-color: rgba(0, 0, 255, 0.219); */
  padding-top: 40px;
  text-align: center;
}

#toptext{
  display: flex;
  /* flex-direction: row; */
  color: rgb(47, 30, 33);
  margin-right: 20px;
}

.words{
  word-spacing: 10px;
  font-size: 20px;
  font-family: myFont;
}

#HCB_comment_box{
  font-family: myFont; 
  color: rgb(167, 94, 127);
  width: 500px;
  margin: auto;
  /* margin-left: 550px;
  margin-right: 550px;  */
}